.cproject
.project
.settings
bin
obj
bin_win
obj_win
datasrc
SDL*
build_windows.sh
3dgame*.zip
region
*.profile
*.log
*.log.*
deps
3dgame
*.exe
*.lib
*.dll

msvc/**/Debug
msvc/**/Release
msvc/**/*.sdf
msvc/**/*.suo