# stuff from the game itself
saves/
test/
loading_order.dat
*.log
*.log.*
graphics-default.profile

# linux compiled binary files
*.o
*.a
*.so
*.so.*

# windows compiled binary files
*.exe
*.dll
*.lib
*.obj

# linux build system
bin/
obj/

# windows build system
deps/
msvc/bin/
msvc/obj/
msvc/**/*.sdf
msvc/**/*.opensdf
msvc/**/*.suo

# windows testing
Guitar*

# eclipse
.cproject
.project
.settings
