# stuff from the game itself
/saves/
/test/
/chunk_cache/
loading_order.dat
*.log
*.log.*
graphics-default.profile

# linux compiled binary files
*.o
*.a
*.so
*.so.*

# windows compiled binary files
*.exe
*.dll
*.lib
*.obj

# linux build system
/bin/
/obj/
ship*.bat

# windows build system
/deps/
/package/
/msvc/bin/
/msvc/obj/
/msvc/**/*.sdf
/msvc/**/*.opensdf
/msvc/**/*.suo

# windows testing
Guitar*

# eclipse
.cproject
.project
.settings
